---
import { Template } from '@Frontend';
import Icons from '@Assets/Icons.astro';
import { COVERS } from '@Assets/covers';
import { Picture } from 'astro:assets';
---
<Template.Base>
<section class="content-section">
  <Template.Card class="card--plain is-centered">
    <Fragment slot="head">
      <h1 class="card__title">I am site title</h1>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
      </div>
    </Fragment>
  </Template.Card>
</section>
<section class="content-section cols-3">
  <Template.Card headClass="card__head--column" class="is-animated">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        <span class="badge">hint</span><span class="badge badge--dark">hint</span><span class="badge ">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">
      <div class="controls controls--spread">
      <span class="button control--small">click me</span><span class="button control--small button--dark">click me</span><span class="button control--small control--plain">click me</span>
      </div>
    </Fragment>
  </Template.Card>
  <Template.Card class="card--ghost is-animated">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls controls--tight">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">

      <div class="controls controls--spread controls--nowrap">
        <span class="button">click me</span><span class="button button--dark">click me</span><span class="button control--plain">click me</span>
      </div>
    </Fragment>
  </Template.Card>
  <Template.Card class="card--light" headClass="card__head--column">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        <span class="badge">hint</span><span class="badge badge--dark">hint</span><span class="badge control--plain">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">

      <div class="controls controls--spread">
        <span class="button button--large">click me</span><span class="button button--large button--dark">click me</span><span class="button button--large control--plain">click me</span>
      </div>
    </Fragment>
  </Template.Card>
</section>
<section class="content-section cols-3">
  <Template.Card>
    <Fragment slot="body">
      <div class="controls">
        <span class="button"><span class="button__icon"><Icons kind="palette"></Icons></span></span>
        <span class="button button--dark"><span class="button__icon"><Icons kind="paw"></Icons></span></span>
        <span class="button control--plain"><Icons kind="cookie"></Icons></span>
        <span class="button"><span class="button__icon"><Icons kind="rocket"></Icons></span></span>
        <span class="button button--dark"><span class="button__icon"><Icons kind="sparkles"></Icons></span></span>
        <span class="button control--plain"><Icons kind="star"></Icons></span>    
      </div>
    </Fragment>
  </Template.Card>
  <Template.Card class="card--ghost" headClass="card__head--column is-centered">
    <Fragment slot="head">
      <h2 class="card__title">Card Title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        
      </div>
    </Fragment>
    <Fragment slot="body">

    </Fragment>
    <Fragment slot="foot">
      <div class="media-wrapper">
      <div class="media-frame">
        <Picture
          src={COVERS.placeholder}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div>
      </div>
    </Fragment>
  </Template.Card>
  <Template.Card headClass="card__head--column is-centered">
    <Fragment slot="head">
      <h2 class="card__title">Card Tiiiiiiiiiiiiiiiiiiiiiiiiiiiii iiiitle</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        
      </div>
    </Fragment>
    <Fragment slot="body">

    </Fragment>
    <Fragment slot="foot">
            <div class="media-wrapper">
      <div class="media-frame">
        <Picture
          src={COVERS.lucys_journeys}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div></div>
    </Fragment>
  </Template.Card>
</section>
<section class="content-section">
  <Template.Card class="card--ghost" headClass="is-centered card__head--column" >
    <Fragment slot="head">
      <h2 class="card__title">Card Title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        
      </div>
    </Fragment>
    <Fragment slot="body">
            <div class="media-wrapper">
      <div class="media-frame">
        <Picture
          src={COVERS.lucys_journeys}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div></div>
    </Fragment>
 </Template.Card>      
  <Template.Card class="card--light is-condensed" headClass="is-centered card__head--column" >
    <Fragment slot="body">
      <div class="media-wrapper is-thumbs-wrap">
        <div class="media-frame is-thumbs-frame">
          <div class="media-frame is-thumb">
            <Picture
              src={COVERS.lucys_journeys}
              formats={['webp']}
              inferSize
              alt="space-fox"
              fetchpriority="high"
              class="media-image is-thumb"
            />
          </div>
          <div class="media-frame is-thumb">
            <Picture
              src={COVERS.lucys_journeys}
              formats={['webp']}
              inferSize
              alt="space-fox"
              fetchpriority="high"
              class="media-image is-thumb"
            />
          </div>
          <div class="media-frame is-thumb">
            <Picture
              src={COVERS.lucys_journeys}
              formats={['webp']}
              inferSize
              alt="space-fox"
              fetchpriority="high"
              class="media-image is-thumb"
            />
          </div>
        </div>
      </div>
    </Fragment>
  </Template.Card> 
</section>
</Template.Base>
