---
import Layout from '@Layout/Main.astro';
import Card from '@Layout/Card.astro';
import Icons from '@Assets/Icons.astro';
import { ASSETS } from '@Assets/ui';
import { Picture } from 'astro:assets';
---
<Layout>
<section class="content-section">
  <Card class="card--plain is-centered">
    <Fragment slot="head">
      <h1 class="card__title">I am site title</h1>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
      </div>
    </Fragment>
  </Card>
</section>
<section class="content-section cols-3">
  <Card headClass="card__head--column" class="is-animated">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        <span class="badge">hint</span><span class="badge badge--dark">hint</span><span class="badge ">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">
      <div class="controls controls--spread">
      <span class="button button--small">click me</span><span class="button button--small button--dark">click me</span><span class="button button--small button--plain">click me</span>
      </div>
    </Fragment>
  </Card>
  <Card class="card--ghost is-animated">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls controls--tight">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">

      <div class="controls controls--spread controls--nowrap">
        <span class="button">click me</span><span class="button button--dark">click me</span><span class="button button--plain">click me</span>
      </div>
    </Fragment>
  </Card>
  <Card class="card--light" headClass="card__head--column">
    <Fragment slot="head">
      <h2 class="card__title">I am card title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        <span class="badge">hint</span><span class="badge badge--dark">hint</span><span class="badge badge--plain">hint</span>
      </div>
    </Fragment>
    <Fragment slot="body">
      <div class="prose">
        <p>I'm the default card</p>
        <p>Im some description text and I have a maximum size so I will wrap at some point!</p>
        <h3>I am accent title</h3>
      </div>
    </Fragment>
    <Fragment slot="foot">

      <div class="controls controls--spread">
        <span class="button button--large">click me</span><span class="button button--large button--dark">click me</span><span class="button button--large button--plain">click me</span>
      </div>
    </Fragment>
  </Card>
</section>
<section class="content-section cols-3">
  <Card>
    <Fragment slot="body">
      <div class="controls">
        <span class="button"><span class="button__icon"><Icons kind="palette"></Icons></span></span>
        <span class="button button--dark"><span class="button__icon"><Icons kind="paw"></Icons></span></span>
        <span class="button button--plain"><Icons kind="cookie"></Icons></span>
        <span class="button"><span class="button__icon"><Icons kind="rocket"></Icons></span></span>
        <span class="button button--dark"><span class="button__icon"><Icons kind="sparkles"></Icons></span></span>
        <span class="button button--plain"><Icons kind="star"></Icons></span>    
      </div>
    </Fragment>
  </Card>
  <Card class="card--ghost" headClass="card__head--column is-centered">
    <Fragment slot="head">
      <h2 class="card__title">Card Title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        
      </div>
    </Fragment>
    <Fragment slot="body">

    </Fragment>
    <Fragment slot="foot">
      <div class="media-wrapper">
      <div class="media-frame">
        <Picture
          src={ASSETS.space_fox}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div>
      </div>
    </Fragment>
  </Card>
  <Card headClass="card__head--column is-centered">
    <Fragment slot="head">
      <h2 class="card__title">Card Tiiiiiiiiiiiiiiiiiiiiiiiiiiiii iiiitle</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        
      </div>
    </Fragment>
    <Fragment slot="body">

    </Fragment>
    <Fragment slot="foot">
            <div class="media-wrapper">
      <div class="media-frame">
        <Picture
          src={ASSETS.space_fox}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div></div>
    </Fragment>
  </Card>
</section>
<section class="content-section">
  <Card class="card--plain" headClass="is-centered card__head--column" >
    <Fragment slot="head">
      <h2 class="card__title">Card Title</h2>
      <div class="card__badges controls">
        <span class="badge">hint</span><span class="badge badge--dark">hint</span>
        
      </div>
    </Fragment>
    <Fragment slot="body">
            <div class="media-wrapper">
      <div class="media-frame">
        <Picture
          src={ASSETS.space_fox}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div></div>
    </Fragment>
    </Card>    
  <Card class="card--light is-condensed" headClass="is-centered card__head--column" >
    <Fragment slot="body">
            <div class="media-wrapper">
      <div class="media-frame is-thumb">
        <Picture
          src={ASSETS.space_fox}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div>
            <div class="media-frame is-thumb">
        <Picture
          src={ASSETS.space_fox}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div>
            <div class="media-frame is-thumb">
        <Picture
          src={ASSETS.space_fox}
          formats={['webp']}
          inferSize
          alt="space-fox"
          fetchpriority="high"
          class="media-image"
        />
      </div>
    </div>
    </Fragment>
  </Card>
</section>
</Layout>